<h1>Listing destinations</h1>

<table id="dest">
  <tr>
    <th>Icon</th>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= render @destinations %>

</table>

<br />

<% if user_signed_in? %>
<div id ="new_destination">
  New Destination
</div>
<% end %>
<div id = "show_new">
  <%= form_for(Destination.new, :remote =>true) do |f| %>
  <div class="field">
     <%= f.label :title %><br />
     <%= f.text_field :title %>
   </div>
   <div class="field">
     <%= f.label :description %><br />
     <%= f.text_area :description %>
   </div>
   <div class="field">
     <%= f.label :photo %><br />
     <%= f.file_field :photo %>
   </div>

   <div class="actions">
     <%= f.submit %>
   </div>
   <% end %>
</div>