<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @destination.title %>
</p>

<p>
  <b>Description:</b>
  <%= @destination.description %>
</p>

<h3>Reviews</h3>


<% if user_signed_in? %>

<div id="review_form">

  <%= form_for([@destination, Review.new], :remote =>true, :html => {:id => 'review_form1' }) do |f| %>
  <%= f.label "Write your review:"%>
  <%= f.text_area :content %>
  <%= f.submit %>
  <% end %>

</div>
<% else %>
<p>Only after login you can edit the text </p>
<p><%= link_to "Log out", destroy_user_session_path, :method => :destroy %></p>
<%=link_to "Log In",new_user_session_path%>

<% end %>
<div id = "reviews">
<%= render @reviews %>
</div>


<%= link_to 'Edit', edit_destination_path(@destination) %> |
<%= link_to 'Back', destinations_path %>
